---
layout: layouts/base.ejs
templateClass: tmpl-post
---
<br>
<br>
<br>
<div class='ui container'>
	
	<div class='ui centered stackable grid'>
		<div class='ten wide large screen twelve wide computer forteen wide tablet column'>
			<div class='ui basic segment' style="font-size: 18px;line-height: 1.5em">
				<%-content%>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	if(window.location.pathname.indexOf('/blog/')>-1){
		$('a[href="/blog/"]').addClass('active');
	}
</script>